/* You can add global styles to this file, and also import other style files */
body{
    box-sizing: border-box;
    margin: 0;
    background: white;
}
.error-message{
    color:red !important;
    font-size: 20px;
    margin: 0;
    
}
.btn{
    background:rgb(65, 133, 223);
    width: 100%;
    font-size: 30px;
    color:white;
    outline:none;
    border-radius: 5px;
    border:none;
    padding: 10px;

    &:hover{
        cursor: pointer;
        background: rgba(59, 109, 174, 0.789);
    }
}

button:disabled{
    background: grey;
    &:hover{
        cursor:auto;
        background: grey;
    }
}